global
    maxconn 256
    log stdout local0 info
    nbthread 2
    cpu-map auto:1/1-4 0-3

defaults
    mode http
    timeout connect 30s
    timeout client 30s
    timeout server 30s
    log global
    option httplog
    maxconn 256

cache metadata_cache
    total-max-size 100   # MB
    max-object-size 9000000 # bytes
    max-age 300            # seconds

frontend http-in
    bind *:80
    # match on the first part of the path to determine which service to proxy
    # server_not_found is fallback and will return 403 on any unmatched request
    use_backend %[path,map_beg(/etc/haproxy/maps/routes.map,server_not_found)]
    # add x-cache-status-header
    http-response set-header X-Cache-Status HIT if !{ srv_id -m found }
    http-response set-header X-Cache-Status MISS if { srv_id -m found }
    # i'm doubtful 'default_backend' ever resolves - default is set via use_backend
    default_backend server_not_found

backend server_legacy_scripts
    # removes the service name from the path, which would be unknown to the
    # postgrest host
    http-request set-path "%[path,regsub(^/legacy-scripts/,/)]"
    # the server hostname is defined in docker-compose (e.g. postgrest-legacy-scripts)
    # port 3000 is the postgrest default
    server s1 postgrest-legacy-scripts:3000 check

backend server_knack_services
    acl is_metadata_route path -m sub metadata
    http-request cache-use metadata_cache if is_metadata_route
    http-request set-path "%[path,regsub(^/knack-services/,/)]"
    # Get from cache / put in cache if metadata endpoint
    http-response cache-store metadata_cache
    server s1 postgrest-knack-services:3000 check

backend server_ctr_data_lake
    http-request set-path "%[path,regsub(^/ctr-data-lake/,/)]"
    server s1 postgrest-ctr-data-lake:3000 check

backend server_parking
    http-request set-path "%[path,regsub(^/parking/,/)]"
    server s1 postgrest-parking:3000 check

backend server_road_conditions
    http-request set-path "%[path,regsub(^/road-conditions/,/)]"
    server s1 postgrest-road-conditions:3000 check

backend server_bond_reporting
    http-request set-path "%[path,regsub(^/bond-reporting/,/)]"
    server s1 postgrest-bond-reporting:3000 check


backend server_not_found
    # return 403
    http-request deny
