# rename this file to `env` and fill in the values

# `atd-postgrest secrets` in the dev vault

PG_HOST=
PG_USER=
PG_PASSWORD=
PGRST_JWT_SECRET_KNACK_SERVICES=
PGRST_JWT_SECRET_CTR_DATA_LAKE=
PGRST_JWT_SECRET_PARKING=
PGRST_JWT_SECRET_LEGACY_SCRIPTS=
PGRST_JWT_SECRET_ROAD_CONDITIONS=
PGRST_JWT_SECRET_BOND_REPORTING=
PGREST_MAX_ROWS=1000
